<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Response</title>
  </head>
  <body>
    <h1>Isso é uma pagina teste do servidor express</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis
      molestiae fugit, illum explicabo tempore ab ea nulla nihil quaerat quo
      expedita at aut? Necessitatibus illo impedit temporibus quisquam, eum
      esse.
    </p>
  </body>
</html>
