:root {
    --clear-blue: #cae1f1;
    --clear-two-blue: #b7d5eb;
    --clear-three-blue: #c5eff7;
    --header-color: #2574a9;

}


@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Sixtyfour";
    src: url(../fonts/Sixtyfour/Sixtyfour-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Sistyfour", Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none
}

/*  Setting style navbar rules  */
header {
    position: fixed;
    width: 100%;
    z-index: 1;
    font-size: 18px;
    transition: all ease 0.4s;
}

.max-header {
    background-color: var(--header-color);
    height: 100px;
}

.min-header {
    background-color: var(--clear-three-blue);
    height: 80px;
}

.ghost {
    width: 100%;
    height: 100px;
    background-color: var(--header-color);
}


.container {
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 0 4rem;
    /*  Construindo um grid template responsive */
    display: grid;
    grid-template-areas: "lgo ... nav";
    grid-template-columns: auto 1fr auto;
    align-content: center;
}

.container img {
    height: 100px;
}

.logo {
    grid-area: lgo;
}

.max-logo {
    height: 100px;

}

.min-logo {
    height: 80px;

}

.max-logo img {
    height: 100%;
    transition: all ease 2s;

}

.min-logo img{
    height: 100%;
    
}


.navbar {
    display: grid;
    grid-area: nav;
    align-content: center;
}

.navbar ul {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;  
}


.navbar li {
    list-style: none;
}

.max-navbar {
    font-size: 1em;
    color: var(--clear-three-blue);
    text-transform: uppercase;
}

.min-navbar {
    font-size: 0.8em;
    font-weight: bold;
    color: var(--header-color);
    text-transform: uppercase;
}

/*  Setting style main content rules    */
main {
    font-size: 20px;
}

section {
    display: grid;
    justify-content: center;
    align-content: center;

    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

section:nth-child(even) {
    height: 100vh;
    background-color: var(--clear-blue);

}

section:nth-child(odd) {
    height: 100vh;
    background-color: var(--clear-two-blue);
}


table, th, tr, td {
    padding: 5px;
    border: 1px solid #000;
    border-collapse: collapse;
}

video {
    display: block;
}

.form-submit {
    margin-top: 25px;
}
#midia-area h2 {
    text-align: center;
}

.container-midia {
    
        width: 100%;
        margin: 0 auto;
        padding: 0 4rem;
        /*  Construindo um flex template responsive */
        display: flex;
        justify-content:space-between;
        align-items: center;
        
}

.img-box {
    display: flex;
}

.img-section, .video-section, .audio-section {
    max-width: 33%;    
}

#form-area input {
    display: block;
    width: 400px;
    padding: 5px;
    margin: 5px 0;
}

 #form-area .radio-box {
    display: flex;
 }

 #form-area .gender-box {
    display: flex;
    align-items: center;
    margin-right: 25px;
 }

 #form-area .radio-box input {
    display:  inline;
    width: auto;
    margin-left: 5px;
 }

#form-area .hobbies-box {
    display: flex;
    align-items: center;
    margin-right: 25px;
 }

#form-area .hobbies-box input {
    display: inline;
    width: auto;
    margin-left: 5px;
}













